---


//  ----------------------------------------------
//  ----------  /astro-jquery-pruebas/  ----------
//  ----------  /src/pages/index.astro  ----------
//  ----------------------------------------------


import MainLayout from "../layouts/MainLayout.astro";


const props = {
  title: "Página dinámica",
  favicon: "/astro-logo-svg.svg", // Ruta al favicon dinámico
};


---

<MainLayout favicon={props.favicon} title="Astro & jQuery - Pruebas">

    <h1> Astro & jQuery </h1>
    <a href="./"> Home </a> <br> <br>
    <a href="./galeria"> Galeria jQuery </a> <br> <br>
    <a href="./galeria-efecto-flip"> Galeria Efecto Flip jQuery </a>

</MainLayout>
