---


//  --------------------------------------------------------------
//  ----------  /astro-jquery-pruebas  ---------------------------
//  ----------  /src/components/GaleriaComponent.astro  ----------
//  --------------------------------------------------------------


import '../styles/jquery/galeria.css';


---


<h1>Galeria con jQuery</h1>
<a href="/"> Home </a>

<main class="main">
    <section id="galeriaContainer">
        <h2 id="texto">Texto de las imágenes</h2>

        <div id="izq">
            <img src="/img/fondos/izq.fw.png" alt="Izquierda" />
        </div>
        <div id="der">
            <img src="/img/fondos/der.fw.png" alt="Derecha" />
        </div>

        <article>
            <img
                id="foto"
                src="/img/fondos/fondo1.jpg"
                width="450px"
                height="320px"
            />
        </article>

        <footer>
            <div id="foto1" data-alt="1">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 1" />
            </div>
            <div id="foto2" data-alt="2">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 2" />
            </div>
            <div id="foto3" data-alt="3">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 3" />
            </div>
            <div id="foto4" data-alt="4">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 4" />
            </div>
            <div id="foto5" data-alt="5">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 5" />
            </div>
            <div id="foto6" data-alt="6">
                <img src="/img/fondos/bolaGris.fw.png" alt="Bola gris 6" />
            </div>
        </footer>
    </section>
</main>


<script>
    
    import { jQueryGaleria, limpiarGaleria } from '../scripts/jQueryGaleria';
    
    document.addEventListener('astro:page-load', () => {
        
        if (location.pathname === '/galeria') {
            
            console.warn('Iniciando galería...');
            jQueryGaleria();

            //  -----  Limpieza al salir  -----
            window.addEventListener('beforeunload', limpiarGaleria);

        } else console.warn('No entra en Galería - Limpieza al Salir ', location.pathname);
    });

</script>
