---
//  **********  /astro-jquery-pruebas/  *****************
//  **********  /src/layouts/MainLayout.astro  **********

import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

const { favicon, title } = Astro.props;
---

<!-- **********  MainLayout.astro  ********** -->
<html lang="es">
    <head>
        <meta charset="utf-8" />

        <link
            rel="icon"
            type="image/svg+xml"
            href={favicon || '/favicon.svg'}
        />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script> -->

        <script>
            import { jQueryGaleria } from '../scripts/galeria';

            //  DOMContentLoaded
            //  transitionend
            
            document.addEventListener('DOMContentLoaded', () => {
                jQueryGaleria();
            });
        </script>

        <title>{title}</title>

        <ViewTransitions />
    </head>

    <body>
        <slot />
    </body>
</html>
